/* some style */

:root {
  --board-container-span: 11;
}

.modal-container {
  display: grid;
  width: 100%;
  height: 100%;
  background: url("/images/waves.jpg") #6161ff;
  background-size: cover;
  /*background-color: rgba(30, 10, 30, 0.99);*/
  background-blend-mode: screen;
}

.modal-inner {
  margin: auto;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  width: 500px;
}

.role-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, 75px);
  grid-gap: 20px;
  margin: 25px 0;
}

.role-selector {
  display: grid;
}

.role-container {
  color: #3c3c3d;
  text-align: center;
  text-transform: capitalize;
}

.lobby-role {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  margin-bottom: 10px;
}

.lobby-role--available:hover {
  transform: scale(1.1);
}

.lobby-role--available:active {
  transform: scale(0.9);
}

.lobby-role--selected {
  box-shadow: 0 0 0pt 3pt var(--marrow-dark);
}

.lobby-role--disabled {
  border: none;
  background-color: grey;
  opacity: 0.5;
  cursor: default;
}

.countdown-value {
  /*font-family: reross-quadratic, sans-serif;*/
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: var(--marrow-accent);
}

/* GAME BOARD */

.game-view {
  display: grid;
  height: 100%;
  background-color: #fbfbfb;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 55px repeat(12, 1fr);
}

.game-topbar {
  display: flex;
  justify-content: space-between;
  background-color: #6161ff;
  align-items: center;
  padding: 0 15px;
  grid-column: 1 / -1;
}

.game-logo {
  font-family: reross-quadratic, sans-serif;
  color: #ffffff !important;
  font-size: 30px;
  margin-bottom: 0;
  cursor: default;
}

.game-board-container {
  display: flex;
  position: relative;
  grid-column: 1 / span 9;
  grid-row: 2 / span var(--board-container-span);
  background-color: #e9ecef;
  /*box-shadow: inset 2px -2px 20px 0 #bfbfbf;*/
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.game-info {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  top: 20px;
  /*height: fit-content;*/
}

.game-title {
  color: #ffffff !important;
  font-size: 1.2rem;
  margin-bottom: 0;
}


.game-board {
  display: grid;
  grid-gap: 1px;
  margin: auto;
  transition: all 0.2s ease-in-out;
  background: transparent;
}

.game-board--shadowed {
  grid-gap: 10px;
}

.game-board--skewed {
  transform: skew(-30deg, 15deg);
}

.board-tile {
  background-color: #bfbfbe;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.board-tile--shadowed {
  box-shadow: 5px 5px 5px 0px #2125296e;
}

.board-tile--clear {
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #bfbfbf;
}

.board-tile--stepped {
  background-color: #ffffff;
  box-shadow: 0 0 12px 1px #bfbfbf;
}

.board-piece {
  background-color: #e861ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
}

.event-log {
  grid-column: 10 / -1;
  grid-row: 2 / span 10;
  border-top: none !important;
  border-radius: 10px;
}

.event-log-container {
  overflow-y: scroll;
}

.event-turn-group {
  margin-bottom: 15px;
}

.event-turn-group__turn {
  display: block;
  padding: 5px 1.25rem;
  margin-bottom: 10px;
  font-weight: bold;
  background: rgba(97, 97, 255, 0.05);
}

.event-turn-group__events {
  margin: 0;
  padding-left: 20px;
}

.event {
  display: flex;
  list-style-type: none;
  margin-bottom: 5px;
}

.event__player-name {
  padding: 0 10px;
  color: #ffffff;
  border-radius: 50%;
  margin-right: 8px;
  height: 25px;
  background-size: cover;
}

.event__turn {
  font-weight: bold;
}

.event__text p {
  margin-bottom: 0;
}

.event-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.event-icon--leave svg {
  color: green;
}

.settings-panel {
  grid-column: 10 / -1;
  grid-row: 12 / 16;
  border-top: none !important;
}

.player-count {
  color: #ffffff;
}

.turn-order {
  grid-column: 1 / span 9;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 0 20px 20px 20px;
  position: relative;
  top: -16px;
}

.turn-order__player {
  padding: 10px;
  grid-row: 2;
  color: #ffffff;
  text-transform: capitalize;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in-out;
  background-size: contain !important;
}

.turn-order__player--current {
  box-shadow: -1px 2px 8px #0000004d;
}

.turn-caret {
  font-size: 25px;
  margin: auto;
  grid-row: 1;
  transition: color 0.15s ease-in-out;
  height: 25px;
}

.chatbox {
  grid-row: -1;
  grid-column: 1 / span 9;
}

.chatbox form {
  display: grid;
  grid-template-columns: 4fr 3fr 1fr;
}

.chatbox button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.chatbox input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.event-log__role_select > div {
  border-radius: 0;
}

.event-log__role_select > div:focus {
  border-color: red;
}

.variable-container {
  position: absolute;
  z-index: 9999;
}

/* When cards are showing we don't want the variables on top anymore. */
.variable-container--background {
  z-index: 0;
}

.variable {
  /*position: absolute;*/
  padding: 5px 10px;

  background-color: beige;
  border-radius: 10px;
  border: 3px orange solid;

  cursor: move;
  z-index: 9999;
}

.variable__name {
  text-transform: capitalize;
}

.global-variable {
  text-align: center;
}

.player-variable ul {
  padding-left: 0;
  margin-bottom: 0;
}

.player-variable ul li {
  list-style-type: none;
  text-transform: capitalize;
}

.variable.variable--timer {
  background-color: #ff9696;
  border-color: #941616;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.card-modal-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  background-color: #0000005e;
  z-index: 1;
}

.card-modal-body {
  background-color: #fffef2;
  width: 320px;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 1px 17px 10px rgba(0, 0, 0, 0.11);
  z-index: 100;
}

.card-modal-type {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  color: #a9a2a2 !important;
}

.card-modal-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2b2b2b !important;
}

.card-modal-desc {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.card-modal-body--error .card-modal-desc:last-child {
  margin-bottom: 10px;
}

.card-modal-error-text {
  font-family: monospace;
  font-size: 1.4rem;
  text-align: center;
  color: #f30202;
  margin-top: 15px;
}